.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    background-color: #1c1c24;
    padding: 40px;
    border-radius: 20px;
    color: white;
  }
  
  .footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer_top_left p {
    font-size: 20px;
    max-width: 400px;
  }
  
  .footer_top_right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .footer_email_input {
    display: flex;
    gap: 20px;
    padding: 15px 20px;
    background: #32323B;
    border-radius: 30px;
    transition: 0.3s;
  }
  
  .footer_email_input input {
    outline: none;
    border: none;
    background: transparent;
    color: aliceblue;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
  }
  
  .footer_email_input:hover {
    border: 2px solid white;
  }
  
  .footer_subscribe {
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 30px;
    background-color: #ff4d4d;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .footer_subscribe:hover {
    transform: scale(1.1);
    background-color: rgb(247, 129, 129);
  }
  
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .footer_bottom_right {
    display: flex;
    gap: 40px;
  }
  
  .footer_bottom_right p {
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer_bottom_right p:hover {
    color: #ff4d4d;
    text-decoration: underline;
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: white;
    margin: 30px 0;
  }
  